<div class="admin_panel">
    <h1>Add a Flight</h1>
    <input type="text" [(ngModel)]="origin" placeholder="origin">
    <input type="text" [(ngModel)]="destination" placeholder="destination">
    <input type="number" [(ngModel)]="flightnumber" placeholder="flight number">
    <span>Depart:</span>   
    <input type="date" [(ngModel)]="depart">
    <span>Arrive:</span>   
    <input type="date" [(ngModel)]="arrive">
    <div class="non_stop_box">
        <div>Nonstop: </div>
        <div><input type="checkbox" (click)="toggleNonStop()"></div>
    </div>

    <button (click)="sendFlight()">Create flight</button>

</div>

<div class="notice-panel" *ngIf="loading">
    LOADING FLIGHTS, PLEASE WAIT
</div>

<div class="editPanel">
    <table class="flightTable">
        <tr>
            <td>Origin</td>
            <td>Destination</td>
            <td>Flight #</td>
            <td>Depart</td>
            <td>Arrive</td>
            <td>Nonstop</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let flight of flightList; let i=index">
            <td><input [(ngModel)]='flight.origin'></td>
            <td><input [(ngModel)]='flight.destination'></td>
            <td><input [(ngModel)]='flight.flightnumber'></td>
            <td>{{flight.depart | date : 'shortDate'}}</td>
            <td>{{flight.arrive | date : 'shortDate'}}</td>
            <td>{{flight.nonstop}}</td>
            <td><button class="update" (click)="update(flight)">Go</button></td>
            <td><button class="delete" (click)="delete(flight)">Go</button></td>
        </tr>
    </table>
</div>
